body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.qwerty {
    width: 275px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    position: absolute;
    height: 800px;
    color: white;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    
    display: table;
    
}



h1 {

    font-size: 40px;
    line-height: 1.0;
    font-weight: 300;
}


h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

    #bio {

        padding: 50px;
        text-align: center;
        font-size: 42px;
    }


    .line {
        height: 10px;
        background-color: black;
        width: 80px;
        margin: 50px auto;
    }


    p {
        max-width: 450px;
        margin: 25px auto;
        font-size: 17px;
      
    }
 
    .ytrewq {

        display: table-cell;
        
        text-align: center;
        vertical-align: middle;

    }
    .menu{
        position: fixed;
        background-color: white;
        top: 0px;
        width: 100%;
        z-index: 10;
       margin-top:0px ;
    }
    .links{

        list-style: none;
       display: inline;
        padding-left: 33px;
        padding-right: 25px;
        font-size: 25px;
        font-family: 'Inspiration', cursive;
    }
    .links:hover{
    font-size: 30px;
    text-decoration: underline;
    }
    html{
        scroll-behavior: smooth;
    }
    #writings a{
        text-shadow: none!important;
        text-decoration: none!important;
        color: blue!important;
    }
    #contact{
        background-color: firebrick;

    }
    #contact iframe{
        width: 100%;
    }
    .contact_1 h3{
        display: inline;
    }
    .contact_1 a{
     color: white;
        text-shadow: none;
    }

